<div class="container">
  <!-- REVIEW Inline style CP 2017-01 -->
  <h2 *ngIf="projectSettings" style="font-size: 2.5em;">{{ projectSettings.projectName }}</h2>
  <div class="card">
    <div *ngIf="currentWord == null" class="card-content">
      <div class="progress orange">
        <div class="indeterminate purple"></div>
      </div>
    </div>
    <div *ngIf="currentWord" class="card-content">
      <div class="row">
        <button (click)="openSettings()" class="btn-large deep-purple darken-1 waves-effect waves-light col s3 offset-s8"><i class="material-icons">settings</i>  </button>
      </div>
      <span *ngIf="currentWord.lexeme[currentLanguageCode]" class="card-title">
        <h3><b>{{currentWord.lexeme[currentLanguageCode].value}}</b></h3>
      </span>
      <div class="col s12">
        <h4 *ngFor="let sense of currentWord.senses" id="testWord" placeholder="Definition">
          <span *ngIf="sense.definition && sense.definition[currentInterfaceLanguageCode]">
            {{sense.definition[currentInterfaceLanguageCode].value}}
          </span>
        </h4>
        <!-- Label of the currentWord's ID for development purposes -->
        <label *ngIf="indexSelected" class="active" for="testWord">Word: {{currentWord.id}} currentWordIdx = {{currentWordIdx + 1}} / {{words.length}}</label>
      </div>

      <div *ngIf="progressSelected" class="progress">
        <div class="determinate deep-purple" [style.width]="progressPercent"></div>
      </div>


      <div class="card-action center">

        <div class="row">
          <button (click)="upVote()" [disabled]="isClicked" class="btn-large green darken-1 waves-effect waves-light col s3"><i class="large material-icons">thumb_up</i></button>

          <button (click)="openModal()" [disabled]="isClicked" class="btn-large blue darken-1 waves-effect waves-light col s3"><i class="material-icons">message</i></button>

          <button (click)="incrementWord()" [disabled]="isClicked" class="btn-large orange darken-1 waves-effect waves-light col s3"><i class="material-icons">trending_flat</i></button>

          <button (click)="downVote()" [disabled]="isClicked" class="btn-large red darken-1 waves-effect waves-light col s3"><i class="material-icons">thumb_down</i></button>
        </div>
        <!-- END .row -->
      </div>
      <!-- END .card-action .center -->

    </div>
    <!-- END .card-content -->
  </div>
  <!-- END .card -->

</div>

<div id="commentModal" class="modal sheet " materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row darken-1">
      <div class="col s6">
        <h4 class="left-align">Suggestion </h4>
      </div>
      <div class="col s6 right-align">
        <a class="btn-flat darken-1 waves-light waves-effect" (click)="closeModal()"><i class="material-icons">close</i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <textarea [(ngModel)]="textComment" class="materialize-textarea" placeholder="Enter text here"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span style="font-size:1.6em;"><a class="btn blue darken-1 waves-effect waves-light" (click)="submitComment()">Post <i class="material-icons">send</i></a></span>
  </div>
</div>

<div id="settingsModal" class="modal sheet " materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions1">
  <div class="modal-content">
    <div class="row darken-1">
      <div class="col s6">
        <h4 class="left-align">Settings </h4>
      </div>
    </div>
    <div class="row center">
      <form action="#">
        <h5>Number of Cards in Deck</h5>
        <div class="divider"></div>
        <p>
          <input name="group1" type="radio" id="test1" />
          <label for="test1">25</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test2" />
          <label for="test2">50</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test3" />
          <label for="test3">75</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test4" />
          <label for="test4">100</label>
        </p>
        
        <h5 class="center-align">Additional Settings</h5>
        <div class="divider"></div>
        <p>
          <input type="checkbox" id="test5" ([checked])=settingDOMHandler[0] />
          <label for="test5">Progress Bar</label>
        </p>
        <p>
          <input type="checkbox" id="test6" ([checked])=settingDOMHandler[1]/>
          <label for="test6">Index Position</label>
        </p>
        <p>
          <input type="checkbox" id="test7" ([checked])=settingDOMHandler[2]/>
          <label for="test7">Word ID</label>
        </p>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <span style="font-size:1.6em;"><a class="btn blue darken-1 waves-effect waves-light" (click)="closeSettings()"> <i class="material-icons">save</i></a></span>
  </div>
</div>

