<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Review &amp; Suggest</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://use.fontawesome.com/d2c950c3d1.js"></script>
  </head>
  
  <body class="vertical-center">
    <div class="container-fluid">

      <div class="page-header">
        <div class="col-12 text-center">
          <h1>Project Name</h1>
        </div>
      </div>

      <div class="row justify-content-center my-4">
        <div class="col-1">
          <button type="button" class="btn btn-warning pull-right" style="height:100%;"><i class="fa fa-chevron-left"></i></button>
        </div>
        <div class="card col-auto">
          <div class="card-block text-center">
            <div class="row">
              <h2 class="word">
                <b>Word</b>
              </h2>
            </div>
            <div class="row">
              <h3 class="meaning">
                meaning
              </h3>
            </div>
          </div>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-warning pull-left" style="height:100%;"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top:15px;">
        <div class="col-4">
          <button type="button" class="btn btn-success btn-block"><i class="fa fa-check" style="font-size:10vw;"></i></button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-comment" style="font-size:10vw;"></i></button>
        </div>
      </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg vertical-center">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h1>Comment Suggestion</h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="container">
            <form action="submit">
              <div class="form-group">
                <div class="p-3">
                  <textarea class="form-control" id="commentTextArea" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    </div>


  </body>
</html>